{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [["env", { "modules": "commonjs" }]]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
